#download {
  .card {
    padding: 3rem 1.5rem 15rem;
    position: relative;

    & .buttons {
      flex-wrap: wrap;
      margin-top: 2rem;
    }

    & > img {
      position: absolute;
      width: 14.5rem;
      bottom: 0;
      right: -3.0rem;
    }
  }
}